* {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 50%;
  height: 500;
  background-color: red;
}
img {
  height: 30%;
  width: 30%;
}
